In [1]:
#numpy already installed but need to import
import numpy as np
import pandas as pd

# Assign filename: file
file = 'FLTR.L.csv'

# Import file: data first column is header and here I set the data type argument dtype equal to str (for string).
# data = np.loadtxt('FLTR.L.csv', delimiter='\t', dtype=str)
data = np.genfromtxt('FLTR.L.csv', delimiter=',', skip_header=1, dtype=None, names=('Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'))

# Print the first element of data
#print(data['Date'])

#print(data)

# Access the data using column names

/var/folders/7h/fwd77_b127ggws5jhf8lwj500000gn/T/ipykernel_2649/3328884622.py:10: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  data = np.genfromtxt('FLTR.L.csv', delimiter=',', skip_header=1, dtype=None, names=('Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'))

In [91]:
#now with encoding='utf-8' 
data = np.genfromtxt('FLTR.L.csv', delimiter=',', skip_header=1, dtype=None, names=('Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'),
 encoding='utf-8')

In [93]:
print(data)

[('2018-01-02',  8659.90332 ,  8817.266602,  8654.985352,  8753.337891,  8096.356445, 116553)
 ('2018-01-03',  8694.326172,  8733.666992,  8620.5625  ,  8625.480469,  7978.095215,  73075)
 ('2018-01-04',  8630.397461,  8654.985352,  8536.962891,  8615.644531,  7968.99707 ,  93162)
 ...
 ('2023-02-24', 13800.      , 13875.      , 13035.      , 13065.      , 13065.      , 394355)
 ('2023-02-27', 13110.      , 13540.      , 13110.      , 13465.      , 13465.      , 809545)
 ('2023-02-28', 13465.      , 13465.      , 13250.      , 13335.      , 13335.      , 931226)]

In [94]:
print(data['Date'])

['2018-01-02' '2018-01-03' '2018-01-04' ... '2023-02-24' '2023-02-27'
 '2023-02-28']

In [96]:
print(data.shape)

(1304,)

In [97]:
data = np.genfromtxt('FLTR.L.csv', delimiter=',', skip_header=1,
                     dtype=[('Date', 'U10'), ('Open', 'f8'), ('High', 'f8'), ('Low', 'f8'),
                            ('Close', 'f8'), ('Adj Close', 'f8'), ('Volume', 'i8')])

print(data.shape)
print(data['Date'])

(1304,)
['2018-01-02' '2018-01-03' '2018-01-04' ... '2023-02-24' '2023-02-27'
 '2023-02-28']

In [86]:
print(data)

[('2018-01-02',  8659.90332 ,  8817.266602,  8654.985352,  8753.337891,  8096.356445, 116553)
 ('2018-01-03',  8694.326172,  8733.666992,  8620.5625  ,  8625.480469,  7978.095215,  73075)
 ('2018-01-04',  8630.397461,  8654.985352,  8536.962891,  8615.644531,  7968.99707 ,  93162)
 ...
 ('2023-02-24', 13800.      , 13875.      , 13035.      , 13065.      , 13065.      , 394355)
 ('2023-02-27', 13110.      , 13540.      , 13110.      , 13465.      , 13465.      , 809545)
 ('2023-02-28', 13465.      , 13465.      , 13250.      , 13335.      , 13335.      , 931226)]

In [ ]:
data = np.genfromtxt('FLTR.L.csv', delimiter=',', dtype=None, encoding='utf-8', columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'])

In [63]:
print(data[:3])

[['Date' 'Open' 'High' 'Low' 'Close' 'Adj Close' 'Volume']
 ['2018-01-02' '8659.903320' '8817.266602' '8654.985352' '8753.337891'
  '8096.356445' '116553']
 ['2018-01-03' '8694.326172' '8733.666992' '8620.562500' '8625.480469'
  '7978.095215' '73075']]

In [67]:
#This will return a tuple of the field names
data.dtype.names

In [ ]:
print(data['Date'])

In [64]:
print(data.shape)

(1305, 7)